html{  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
    height: 100%;  
    background-image:  url('../img/bg-neon-4.png');
    background-repeat:repeat-y;
    background-size: cover;
    background-position: center; 
}

/*==== SECTION ====*/
#media-section{
display: table;   
   height: 100%;
   width:100%;
}

/* === BOX ===*/
.box{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-top: 100px;
}


/* ==== COUNTER/LIKE ==== */

/* === BUTTON === */
button.like{
    background: #00A9FE;
    border: 3px solid #00A9FE;    
    margin-left: 100px;
    margin-right: 100px;
    width: 280px;
    height:280px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius: 100%;
    float: left;    
}

button.like:focus{
    outline: none;
}

button.like:hover{
    background: #fff;
    border: 3px solid #fff;
}

.like i{
    color: #fff;
    font-size: 175px;
    padding: 3%;
}

.like i:hover{
    color: #F148FB;
}

.like, .counter{    
    display: inline-block;   
}

/* === COUNTER === */

#counter{
    font-size: 150px;
    line-height: 140px;
}

.counter{
    font-size: 40px;
    color: #fff;
    background: #00A9FE;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 3%;
    width: 280px;
    height: 280px;
    float: right;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius: 100%;
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*====IMAGE====*/
.box-img{   
    width: 100%;
    border: 10px solid #00A9FE; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

.box-img img{
    width: 100%;
}

.box-item.item-2{  
    position: relative; 
    width: 100%;
    margin-top: -12%;
    overflow: auto;
    z-index: 1;
}


@media screen and (max-width:1200px) {

    button.like{
        width: 240px;
        height:240px;
        margin-left: 86px;
        margin-right: 86px;
    }

    .like i {
        font-size: 150px;
    }

    #counter{
        font-size: 128px;
        line-height: 120px;
    }

    .counter{
        font-size: 34px;   
        width: 240px;
        height: 240px;
        margin-left: 86px;
        margin-right: 86px;
    }

}

@media screen and (max-width:992px) {

    button.like{
        width: 200px;
        height:200px;
        margin-left: 71px;
        margin-right: 71px;
    }

    .like i {
        font-size: 125px;
    }
    
    #counter{
        font-size: 106px;
        line-height: 100px;
    }

    .counter{
        font-size: 28px;
        width: 200px;
        height: 200px;
        margin-left: 71px;
        margin-right: 71px;
    }
}

@media screen and (max-width:768px) {

    button.like{
        width: 160px;
        height:160px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .like i {
        font-size: 100px;
    }
    
    #counter{
        font-size: 84px;
        line-height: 80px;
    }

    .counter{
        font-size: 22px;
        width: 160px;
        height: 160px;
        margin-left: 45px;
        margin-right: 45px;
    }

}

@media screen and (max-width:576px) {

    button.like{
        width: 100px;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .like i {
        font-size: 62px;
    }
    
    #counter{
        font-size: 52px;
        line-height: 50px;
    }

    .counter{
        font-size: 14px;
        margin-left: 15%;
        width: 100px;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width:349px) {

    button.like{
        margin-left: 25px;
        margin-right: 25px;
    }

    .counter{
        margin-left: 20px;
        margin-right: 20px;
        }
}